body {
  background-color: #F5F5F5
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "sidebar header header header header header"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "footer footer footer footer footer footer";
  grid-gap: .5em;
}

.header {
  grid-area: header;
  border: orange 2px solid;
}

.sidebar {
  grid-area: sidebar;
  border: orange 2px solid;
}

.main {
  grid-area: main;
  border: orange 2px solid;
}

.footer {
  grid-area: footer;
  border: orange 2px solid;
}
